name: Hello world Logger

on:
  push:
    branches: ["main"]
   
jobs:
  log-commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Say hello
       
        run: |
            echo "Hola mundo."
    
